<%= render 'shared/header', title: "Tasks to be Completed" if current_user.branch? %>
<%= render 'shared/header', title: "Tasks to be Completed by Sites" if current_user.admin? %>

<%= link_to 'Download records', generate_record_path(params.merge(id: generate_filename, format: 'csv')) %>
<br/>
<br/>

<table class="table">
  <tr>
    <th>Task</th>
    <th>Sent</th>
    <% if current_user.admin? %>
      <th>Site Name</th>
    <% else %>
      <th class="col-md-3">Mark as Completed</th>
    <% end %>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.phrase %></td>
      <td><%= friendly_datetime(task.created_at) %></td>
      <% if current_user.admin? %>
        <td><%= task.recipient.username %></td>
      <% else %>
        <td>
          <%= link_to completed_task_path(task), method: 'post', class: 'btn btn-block btn-success' do %>
            Completed <span class="glyphicon glyphicon-ok"></span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
