<%= form_tag '/alerts' do %>
  <div class="form-group">
    <%= label_tag :phrase, nil, class: 'sr-only' %>
    <select name='phrase_id', class="form-control">
      <% @phrases.each do |phrase| %>
        <option value=<%= phrase.id %>><%= phrase.body %></option>
      <% end %>
    </select>
  </div>
  <%= submit_tag 'Send Alert', class: 'btn btn-block btn-success' %>
<% end %>
